<section class="rules">
    <div>
        <h1>Regras do Jogo</h1>
        <ul>
            <li>
                <h2>Regra 01</h2>
                <p>
                    O jogo consiste em um jogo de turnos, onde cada jogador deverá escolher uma das ações e o inimigo irá realizar outra ação.
                </p>
            </li>
            <li>
                <h2>Monster</h2>
                <p>
                    The monster is the main enemy of the game.
                    The monster has the ability to attack and heal.
                </p>
            </li>
        </ul>
    </div>
</section>