<section class="rules">
    <div>
        <h1>Regras do Jogo</h1>
        <ul>
            <li>
                <h2>Regra 01</h2>
                <p>
                    O jogo consiste em um jogo de turnos, onde o jogador deverá escolher uma das ações e o inimigo irá realizar outra ação.
                </p>
            </li>
            <li>
                <h2>Ação 01 - Ataque Básico</h2>
                <p>
                    O Jogador irá causar um dano de 5 a 10 pontos ao inimigo.
                </p>
            </li>
            <li>
                <h2>Ação 02 - Ataque Especial</h2>
                <p>
                    O Jogador irá causar um dano de 10 a 20 pontos ao inimigo. <br>
                    O jogador poderá usar a ação especial apenas uma vez a cada 2 turnos. <br>
                    Este ataque tem 50% de chance de atordoar o inimigo, deixando sem ação por 1 turno.
                </p>
            </li>
            <li>
                <h2>Ação 03 - Curar</h2>
                <p>
                    O Jogador recebe entre 5 a 15 pontos de vida aleatóriamente.
                </p>
            </li>
            <li>
                <h2>Ação 04 - Desistir</h2>
                <p>
                    O Jogador desisti da partida e volta a tela inicial.
                </p>
            </li>
        </ul>
    </div>
</section>