<div class="game">
    <section class="game__view">
        <div class="game__player">
            <h1 class="game__view-player">Jogador</h1>
            <div class="view__life-player">
                <p>{{playerLife}}</p>
                <div class="life__player" [ngStyle]="{'width':playerLife,'background-color':barColorPlayer}"></div>
            </div>
            <img class="image__player" src="../../assets/images/hero.gif" alt="">
        </div>
        <div class="game__monster">
            <h1 class="game__view-monster">Monstro</h1>
            <div class="view__life-monster">
                <p>{{monsterLife}}</p>
                <div class="life__monster" [ngStyle]="{'width':monsterLife,'background-color':barColorMonster}"></div>
            </div>
            <img class="image__monster" src="../../assets/images/monster.gif" alt="">
        </div>
    </section>
    <section class="game__commands">
        <div class="game__commands-container">
            <div class="game__commands-title">
                <h1>Comandos</h1>
            </div>
            <div class="game__commands-list">
                <button class="item" (click)="attack()">
                    <img src="../../assets/images/simple_attack.png" alt="">
                    <h2>Ataque</h2>
                </button>
                <button class="item" [disabled]="specialState" (click)="specialAttack()">
                    <img src="../../assets/images/special_attack.png" alt="">
                    <h2>Ataque Especial</h2>
                </button>
                <button class="item" (click)="healing()">
                    <img src="../../assets/images/potion.png" alt="">
                    <h2>Curar</h2>
                </button>
                <button class="item" (click)="giveUp()">
                    <img src="../../assets/images/give_up.png" alt="">
                    <h2>Desistir</h2>
                </button>
            </div>
        </div>
    </section>

    <section class="game__logs">
        <div class="game__logs-container">
            <div class="game__logs-title">
                <h1>Logs</h1>
            </div>
            <div *ngIf="logs?.length; else listaVazia" class="game__logs-list">
                <p *ngFor="let log of logs" [ngStyle]="{'text-align':log.style, 'background-color':log.color}">{{log.mensage}}</p>
            </div>
            <ng-template #listaVazia>
                <p>Nenhuma pontuação cadastrada</p>
            </ng-template>
        </div>
    </section>

    <div [class]="msgEnd">
        <form ngNativeValidate class="form" (ngSubmit)="send()">
            <h1>Fim de Jogo</h1>
            <div>
                <h2>Pontuação</h2>
                <p>{{points()}}</p>
            </div>
            <div>
                <label class="title" for="playerName">Nome do Jogador</label>
                <input type="text" maxlength="15" name="playerName" id="playerName" placeholder="Coloque seu Nome" [(ngModel)]="playerName" required>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>

     <div [class]="msgEndLose">
        <form ngNativeValidate class="form" (ngSubmit)="reset()">
            <h1>Fim de Jogo</h1>
            <div>
                <h2>Pontuação</h2>
                <p>{{points()}}</p>
            </div>
            <div>
                <label class="title" for="playerName">Nome do Jogador</label>
                <input type="text" maxlength="15" name="playerName" id="playerName" placeholder="Coloque seu Nome" [(ngModel)]="playerName" required>
            </div>
            <button type="submit">Tentar Novamente</button>
        </form>
    </div>

</div>



