@import "../shared/styles/colors.less";
@import "../shared/styles/mediaQuery.less";

.game {
  display: grid;
  grid-template-rows: 3fr 1fr 3fr;
  width: 100%;

  h1 {
    margin: 5px auto;
    font: 600 1.5em/1.2;
    text-align: center;
  }

  &__view {
    display: flex;
    justify-content: space-around;
    background: url(../../assets/images/fundo.jpg) center/cover;

    div {
      display: flex;
      width: 45vw;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .view__life-player,
      .view__life-monster {
        align-items: start;
        height: 15px;
        background: #777;
        position: relative;
        border-radius: 5px;

        p {
          align-self: center;
          z-index: 1;
        }

        .life__player,
        .life__monster {
          position: absolute;
          height: 100%;
          border-radius: 5px;
          transition: all 0.5s;
        }
      }

      .image__player {
        transform: scaleX(-1);
      }

      img {
        height: 20rem;

        @media @phone {
          height: 10rem;
        }

        @media @tablet {
          height: 15rem;
        }
      }
    }
  }

  &__commands {
    display: flex;
    flex-direction: row;
    background: @Color-01;
    border: 1px solid @Color-03;

    .game__commands-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .game__commands-list {
        width: inherit;
        display: flex;
        justify-content: space-evenly;

        .item {
          display: flex;
          width: 20%;
          margin: 10px 0;
          font-size: 1em;
          padding: 10px 0;
          justify-content: center;
          align-items: center;
          text-align: center;
          cursor: pointer;
          background: @Color-05;
          border: 1px solid @Color-03;
          border-radius: 5px;
          box-shadow: 2px 2px 10px gray;
          transition: all 0.3s ease;

          img {
            display: none;
            height: 2rem;
          }

          @media @phone {
            img {
              display: block;
            }
            h2 {
              display: none;
            }
          }

          &:disabled {
            cursor: not-allowed;
          }

          &:hover {
            background: @Color-03;
            color: @Color-04;

            &:disabled {
              background: white;
              color: gray;
            }
          }
        }
      }
    }
  }

  &__logs {
    display: grid;
    background: @Color-01;

    .game__logs-list {
      height: 21rem;
      overflow-y: auto;
    }

    p {
      margin: 10px auto;
      padding: 5px;
      width: 95%;
      font: 600 1.2em;
      border-radius: 5px;
      box-shadow: 2px 2px 10px gray;
      border: 1px solid @Color-03;
    }
  }

  .end-closed {
    position: absolute;
    visibility: hidden;
    transition: all 0.5s ease;
  }

  .end-opened,
  .end-opened-lose {
    display: flex;
    position: fixed;
    width: 20%;
    left: 40%;
    top: 30%;
    border-radius: 5px;
    background: @Color-05;
    color: @Color-03;
    text-align: center;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 10px gray;

    @media @phone {
      width: 50%;
      left: 25%;
    }

    h1 {
      font: 600 2em;
      border-bottom: 1px solid @Color-03;
      margin: 0.5rem auto;
      padding: 0.3rem;
    }

    h2 {
      font: 600 1.3em;
      margin: 0.3rem auto;
    }

    label {
      font: 600 1.3em;
      margin: 0.5rem auto;
      padding: 0.2rem;
    }

    input,
    button {
      width: 70%;
      margin: 0.5rem auto;
      border-radius: 5px;
      border: 1px solid @Color-03;
    }

    input {
      height: 30px;
    }

    button {
      background: @Color-05;
      color: @Color-03;
      font: 600 1.2em;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: @Color-03;
        color: @Color-05;
      }
    }
  }
}
