<div class="game">
    <section class="game__view">
        <div class="game__player">
            <h1 class="game__view-player">Jogador</h1>
            <div class="view__life-player">
                <p>{{playerLife}}</p>
                <div class="life__player" [ngStyle]="{'width':playerLife,'background-color':barColorPlayer}"></div>
            </div>
            <img class="image__player" src="../../assets/images/hero.gif" alt="">
        </div>
        <div class="game__monster">
            <h1 class="game__view-monster">Monstro</h1>
            <div class="view__life-monster">
                <p>{{monsterLife}}</p>
                <div class="life__monster" [ngStyle]="{'width':monsterLife,'background-color':barColorMonster}"></div>
            </div>
            <img class="image__monster" src="../../assets/images/monster.gif" alt="">
        </div>
    </section>
    <section class="game__commands">
        <div class="game__commands-container">
            <div class="game__commands-title">
                <h1>Comandos</h1>
            </div>
            <div class="game__commands-list">
                <ul>
                    <li class="item" (click)="attack()">
                        <h2>Ataque</h2>
                    </li>
                    <li [ngClass]='specialState' (click)="specialAttack()">
                        <h2>Ataque Especial</h2>
                    </li>
                    <li class="item" (click)="healing()">
                        <h2>Curar</h2>
                    </li>
                    <li class="item" (click)="giveUp()">
                        <h2>Desistir</h2>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="game__logs">
        <div class="game__logs-container">
            <div class="game__logs-title">
                <h1>Logs</h1>
            </div>
            <div *ngIf="logs?.length; else listaVazia" class="game__logs-list">
                <p *ngFor="let log of logs" [ngStyle]="{'text-align':log.style}">{{log.mensage}}</p>
            </div>
            <ng-template #listaVazia>
                <p>Nenhuma pontuação cadastrada</p>
            </ng-template>
        </div>
    </section>


</div>