<header class="navbar">

  <ul class="navbar__menu">
    <li routerLink="home" class="navbar__item">
      <i class="fa-solid fa-house "></i>
      <p>Home</p>
    </li>
    <li routerLink="game" class="menu__item">
      <i class="fa-solid fa-gamepad"></i>
      <p>Jogo</p></li>
    <li routerLink="rules" class="menu__item">
      <i class="fa-solid fa-book"></i>
      <p>Regras</p>
    </li>
    <li routerLink="ranking" class="menu__item">
      <i class="fa-solid fa-medal"></i>
      <p>Ranking</p>
    </li>
  </ul>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p>&copy; 2022 Gabriel Machado</p>
</footer>