@import "./shared/styles/colors.less";
@import "./shared/styles/mediaQuery.less";

.navbar {
  display: flex;
  justify-content: center;
  background-color: @Color-01;
  border-bottom: 1px solid @Color-03;
  padding: 0 15px;

  &__menu {
    display: grid;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);

    i {
      display: none;
    }

    li {
      display: block;
      padding: 10px 20px;
      margin: 7px;
      text-align: center;
      text-decoration: none;
      background-color: @Color-05;
      border: 1px solid @Color-04;
      box-shadow: 2px 2px 10px gray;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: @Color-03;
        color: @Color-04;
      }
    }
  }

  @media @phone {
    &__menu {
      i {
        transition: 2s;

        display: block;
      }
      p{
        transition: 2s;
        display: none;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: @Color-01;
  border-top: 1px solid @Color-03;
  padding: 20px 15px;

}