@desktop: ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet: ~"only screen and (min-width: 602px) and (max-width: 959px)";
@phone: ~"only screen and (min-width: 0px) and (max-width: 601px)";