@import "../shared/styles/colors.less";

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
  background-color: @Color-04;
  padding: 20px;
  background-image: url(../../assets/images/fundo-home-02.jpg);
  background-size: cover;
  background-position: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: @Color-05;
    box-shadow: 0 0 8px @Color-03;
    border-radius: 10px;
    .home__title {
      font-size: 2em;
      color: @Color-03;
      text-align: center;
    }
    .home__button {
      width: 100%;
      button {
        display: block;
        height: 100%;
        margin: 5% auto 1%;
        width: 90%;
        padding: 10px;
        background-color: @Color-03;
        color: @Color-04;
        border: 1px solid @Color-03;
        border-radius: 10px;
        font-size: 1.2em;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: @Color-04;
          color: @Color-03;
        }
      }
    }
  }
}
