<section class="home">
    <div class="home__container">
        <div class="home__title">
            <h1>Olá, bem-vindo ao</h1>
            <h1>Jogo de Gabriel Machado</h1>
        </div>
        <div class="home__button">
            <button class="button__iniciar" (click)="game()">Iniciar</button>
        </div>
    </div>
</section>