<section class="container">
    <h2 class="titulo">Ranking</h2>
    <table class="tabela">
        <thead class="tabela__cabecalho">
            <th class="tabela__cabecalho__conteudo">Nome</th>
            <th class="tabela__cabecalho__conteudo">Data</th>
            <th class="tabela__cabecalho__conteudo">Pontuação</th>
        </thead>
        <tbody *ngIf="ranks?.length; else listaVazia">
            <tr class="tabela__linha" *ngFor="let rank of ranks">
                <td class="tabela__conteudo">{{rank.name}}</td>
                <td class="tabela__conteudo">{{rank.date | date: 'dd/MM/yyyy'}}</td>
                <td class="tabela__conteudo">{{rank.score}}</td>
            </tr>
        </tbody>
    </table>

    <ng-template #listaVazia>
        <p>Nenhuma pontuação cadastrada</p>
    </ng-template>
</section>